In [11]:
import pandas as pd

df = pd.read_csv("../data/state_month_full.csv")
df.head(5)

,state_fips,date,UNRATE,PAYEMS,CIVPART,EMRATIO,U6RATE,AWHMAN,AHETPI,CPIAUCSL,...,WALCL,SPREAD_10Y_2Y,SPREAD_10Y_3M,CPI_YOY,state_name,B19013_001E,B01003_001E,B25077_001E,B25064_001E,B17001_002E
0,1,2005-01-01,5.3,132781,65.8,62.4,9.2,40.7,15.90,191.6,...,807262.0,0.85,1.63,NaN,NaN,42081.0,4712651.0,117600.0,644.0,786544.0
1,1,2005-02-01,5.4,133033,65.9,62.4,9.2,40.7,15.93,192.4,...,804576.0,0.77,1.60,NaN,NaN,42081.0,4712651.0,117600.0,644.0,786544.0
2,1,2005-03-01,5.2,133152,65.9,62.4,9.1,40.4,15.97,193.1,...,807551.0,0.70,1.71,NaN,NaN,42081.0,4712651.0,117600.0,644.0,786544.0
3,1,2005-04-01,5.2,133519,66.1,62.7,9.0,40.4,16.01,193.7,...,809797.0,0.55,1.31,NaN,NaN,42081.0,4712651.0,117600.0,644.0,786544.0
4,1,2005-05-01,5.1,133689,66.1,62.8,8.9,40.4,16.03,193.6,...,810160.0,0.40,1.01,NaN,NaN,42081.0,4712651.0,117600.0,644.0,786544.0

In [12]:
# drop state_name
df = df.drop(columns=["state_name"], errors="ignore")

# NaN count per column (sorted)
nan_counts = df.isna().sum().sort_values(ascending=False)
print(nan_counts)

# (optional) also show % missing
nan_pct = (df.isna().mean() * 100).sort_values(ascending=False)
print("\n% missing:")
print(nan_pct)

MSPUS            8000
PPIFDG           2900
CPI_YOY           600
state_fips          0
BAMLH0A0HYM2        0
DGS3MO              0
DGS2                0
DGS10               0
MORTGAGE30US        0
BAA                 0
AAA                 0
M2SL                0
NFCI                0
WALCL               0
SPREAD_10Y_2Y       0
SPREAD_10Y_3M       0
B19013_001E         0
B01003_001E         0
B25077_001E         0
B25064_001E         0
FEDFUNDS            0
CSUSHPINSA          0
date                0
CPIAUCSL            0
UNRATE              0
PAYEMS              0
CIVPART             0
EMRATIO             0
U6RATE              0
AWHMAN              0
AHETPI              0
CPILFESL            0
PERMIT              0
PCEPI               0
PCEPILFE            0
INDPRO              0
RRSFS               0
DGORDER             0
UMCSENT             0
HOUST               0
B17001_002E         0
dtype: int64

% missing:
MSPUS            66.666667
PPIFDG           24.166667
CPI_YOY           5.000000
state_fips        0.000000
BAMLH0A0HYM2      0.000000
DGS3MO            0.000000
DGS2              0.000000
DGS10             0.000000
MORTGAGE30US      0.000000
BAA               0.000000
AAA               0.000000
M2SL              0.000000
NFCI              0.000000
WALCL             0.000000
SPREAD_10Y_2Y     0.000000
SPREAD_10Y_3M     0.000000
B19013_001E       0.000000
B01003_001E       0.000000
B25077_001E       0.000000
B25064_001E       0.000000
FEDFUNDS          0.000000
CSUSHPINSA        0.000000
date              0.000000
CPIAUCSL          0.000000
UNRATE            0.000000
PAYEMS            0.000000
CIVPART           0.000000
EMRATIO           0.000000
U6RATE            0.000000
AWHMAN            0.000000
AHETPI            0.000000
CPILFESL          0.000000
PERMIT            0.000000
PCEPI             0.000000
PCEPILFE          0.000000
INDPRO            0.000000
RRSFS             0.000000
DGORDER           0.000000
UMCSENT           0.000000
HOUST             0.000000
B17001_002E       0.000000
dtype: float64

In [14]:
cols = ["MSPUS", "PPIFDG", "CPI_YOY"]

# first 10 values (keeps NaNs)
print(df[cols].head(50).to_string(index=False))

   MSPUS  PPIFDG   CPI_YOY
232500.0     NaN       NaN
     NaN     NaN       NaN
     NaN     NaN       NaN
233700.0     NaN       NaN
     NaN     NaN       NaN
     NaN     NaN       NaN
236400.0     NaN       NaN
     NaN     NaN       NaN
     NaN     NaN       NaN
243600.0     NaN       NaN
     NaN     NaN       NaN
     NaN     NaN       NaN
247700.0     NaN  0.040188
     NaN     NaN  0.036383
     NaN     NaN  0.034179
246300.0     NaN  0.036138
     NaN     NaN  0.039773
     NaN     NaN  0.041817
235600.0     NaN  0.041047
     NaN     NaN  0.039266
     NaN     NaN  0.020121
245400.0     NaN  0.014063
     NaN     NaN  0.019687
     NaN     NaN  0.025240
257400.0     NaN  0.020758
     NaN     NaN  0.024203
     NaN     NaN  0.027982
242200.0     NaN  0.025929
     NaN     NaN  0.027099
     NaN     NaN  0.026928
241800.0     NaN  0.023179
     NaN     NaN  0.018974
     NaN     NaN  0.028338
238400.0     NaN  0.036107
     NaN     NaN  0.043733
     NaN     NaN  0.041088
233900.0     NaN  0.042947
     NaN     NaN  0.041430
     NaN     NaN  0.039749
235300.0     NaN  0.039038
     NaN     NaN  0.040884
     NaN     NaN  0.049360
226500.0     NaN  0.054975
     NaN     NaN  0.053080
     NaN     NaN  0.049533
222500.0     NaN  0.037311
     NaN     NaN  0.010999
     NaN     NaN -0.000222
208400.0     NaN -0.001136
     NaN     NaN  0.000085

In [ ]:
# drop MSPUS and PPIFDG
df = df.drop(columns=["MSPUS", "PPIFDG"], errors="ignore")

In [17]:
df_clean = df.dropna(subset=["CPI_YOY"]).copy()

In [21]:
df_clean.shape

(11400, 39)

In [19]:
# NaN count per column (sorted)
nan_counts = df_clean.isna().sum().sort_values(ascending=False)
print(nan_counts)

state_fips       0
M2SL             0
DGS2             0
DGS10            0
MORTGAGE30US     0
BAA              0
AAA              0
BAMLH0A0HYM2     0
NFCI             0
WALCL            0
FEDFUNDS         0
SPREAD_10Y_2Y    0
SPREAD_10Y_3M    0
CPI_YOY          0
B19013_001E      0
B01003_001E      0
B25077_001E      0
B25064_001E      0
DGS3MO           0
CSUSHPINSA       0
date             0
CPIAUCSL         0
UNRATE           0
PAYEMS           0
CIVPART          0
EMRATIO          0
U6RATE           0
AWHMAN           0
AHETPI           0
CPILFESL         0
PERMIT           0
PCEPI            0
PCEPILFE         0
INDPRO           0
RRSFS            0
DGORDER          0
UMCSENT          0
HOUST            0
B17001_002E      0
dtype: int64

In [22]:
import os

os.makedirs("../data", exist_ok=True)
out_path = os.path.join("../data", "cleaned_dataset.csv")

df_clean.to_csv(out_path, index=False)

print("Saved:", out_path, "Rows:", len(df_clean), "Cols:", df_clean.shape[1])

Saved: ../data/cleaned_dataset.csv Rows: 11400 Cols: 39